* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 300px;
  background: rgb(253, 253, 253);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid grey;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer img {
  width: 100px;
  height: auto;
}
